<app-sidebar></app-sidebar>
<section class="pl-16 h-screen w-full font-sans">
  <div class="w-full h-full flex flex-col items-center justify-center">
    <h1
      class="mb-4 text-xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-4xl lg:mb-10"
    >
      Create Roadmap
    </h1>
    <div class="flex gap-6 mb-6 flex-col flex-wrap">
      <div class="flex gap-6 flex-row flex-wrap">
        <div>
          <label
            for="roadmap_topic"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Roadmap Topic</label
          >
          <input
            type="text"
            id="roadmap_topic"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Company Name"
            required
            [(ngModel)]="roadmap_topic"
          />
        </div>
        <div>
          <label
            for="roadmap_subtopic"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Sub Topic</label
          >
          <input
            type="text"
            id="roadmap_subtopic"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Full Stack Developer"
            required
            [(ngModel)]="roadmap_subtopic"
          />
        </div>
      </div>
      <div>
        <label
          for="roadmap_description"
          class="block text-sm font-medium text-gray-900"
          >Description</label
        >
        <input
          type="text"
          id="roadmap_description"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Full Stack Developer"
          required
          [(ngModel)]="roadmap_description"
        />
      </div>
      <div>
        <label
          for="roadmap_youtube"
          class="block text-sm font-medium text-gray-900"
          >Youtube Links</label
        >
        <input
          type="text"
          id="roadmap_youtube"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Full Stack Developer"
          required
          [(ngModel)]="roadmap_youtube"
        />
      </div>

      <div class="flex flex-col justify-center items-center w-full">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
          (click)="createRoadmap()"
        >
          Create Roadmap
        </button>
      </div>
    </div>
  </div>
</section>
