<app-sidebar></app-sidebar>
<section class="relative pl-16 font-sans">
  <h1
    class="mb-4 text-center font-extrabold leading-none tracking-tight text-gray-900 text-4xl py-5"
  >
    Internship Details
  </h1>
  <div class="relative overflow-x-auto sm:rounded-lg px-10">
    <table class="w-full text-sm text-left text-gray-500 shadow-md">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Internship Name</th>
          <th scope="col" class="px-6 py-3">Inernship Position</th>
          <th scope="col" class="px-6 py-3">Internship Date</th>
          <th scope="col" class="px-6 py-3">Registration Link</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b" *ngFor="let item of allData">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ item.company_name }}
          </th>
          <td class="px-6 py-4">{{ item.internship_position }}</td>
          <td class="px-6 py-4">{{ item.internship_registration_link }}</td>
          <td class="px-6 py-4">{{ item.internship_date }}</td>
          <td class="px-6 py-4 text-right">
            <a
              class="font-medium text-blue-600 hover:underline px-5 cursor-pointer"
              (click)="editFunction(item)"
              >Edit</a
            >
            <a class="font-medium text-red-600 hover:underline cursor-pointer"
              >Delete</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section
  class="fixed w-full h-screen bg-[#0000006b] top-0 left-0 z-10 font-sans"
  *ngIf="editButton"
>
  <div class="relative w-full h-full flex flex-col items-center justify-center">
    <div
      class="relative flex gap-6 mb-6 flex-col flex-wrap bg-white p-10 rounded"
    >
      <img
        class="absolute top-2 right-2 cursor-pointer"
        src="https://img.icons8.com/windows/32/null/macos-close.png"
      />
      <div class="flex gap-6 flex-row flex-wrap">
        <div>
          <label
            for="company_name"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Internship Name</label
          >
          <input
            type="text"
            id="company_name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Company Name"
            required

            [(ngModel)]="company_name"
          />
        </div>
        <div>
          <label
            for="internship_position"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Inernship Position</label
          >
          <input
            type="text"
            id="internship_position"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="Full Stack Developer"
            required
            [(ngModel)]="internship_position"
          />
        </div>
      </div>
      <div>
        <label
          for="internship_registration_link"
          class="block text-sm font-medium text-gray-900"
          >Registration Link</label
        >
        <input
          type="text"
          id="internship_registration_link"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Full Stack Developer"
          required
          [(ngModel)]="internship_registration_link"
        />
      </div>
      <div>
        <label
          for="internship_date"
          class="block text-sm font-medium text-gray-900"
          >Internship Date</label
        >
        <input
          type="date"
          id="internship_date"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          placeholder="Full Stack Developer"
          required
          [(ngModel)]="internship_date"
        />
      </div>

      <div class="flex flex-col justify-center items-center w-full">
        <button
          type="button"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2"
        >
          Default
        </button>
      </div>
    </div>
  </div>
</section>
