<div class="flex justify-between">
    <!-- <app-student-nav></app-student-nav> -->
    <div class="flex justify-evenly w-full ">
        <div class="w-full ">
            <app-navbar class="pt-1"></app-navbar>
            <div class="flex justify-start items-center relative">
                <div class="w-[75%] h-full justify-center items-center relative">
                    <app-about-student></app-about-student>
                </div>
                <div class="pt-1 w-[25%] h-full justify-center items-center relative">
                    <div class=" bg-[#f6f6f6]  border-gray-200 px-2 sm:px-4 py-2.5 shadow-lg justify-center items-center relative">
                        <app-side-profile></app-side-profile>
                    </div>
                </div>
            </div>
            <!-- <div class="flex justify-center items-center relative">
                <app-about-student></app-about-student>
                <app-student-profile-details></app-student-profile-details>
            </div>
            <div>
                <app-student-profile></app-student-profile>
            </div> -->
        </div>
    </div>
</div>

<!-- w-[calc(100vw-16rem)] -->